.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.right-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.login-img {
  width: 75%;
}

.right-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left-container {
  display: none;
}

.form {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 748px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .right-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    justify-content: center;
    align-items: center;
  }
  .left-container {
    display: block;
  }
}

.text {
  color: var(--text, #555);
  font-family: Poppins;
  font-size: 1rem;
  text-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid #555;
}

.form {
  input:focus {
    border: 2px solid #555;
    outline: none;
  }
}

.form a {
  color: rgba(0, 0, 0, 0.37);
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.form button {
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  border-radius: 10px;
  background: var(--Sunset-Orange, #a45f14);
  border: none;
}

.form button:hover {
  background-color: #8b4513;
}
