.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin: 3rem 0;
}

.card {
  font-family: var(--font-poppins);
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }

  .cardImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    overflow: hidden;

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
      transition: background 0.4s ease-in-out;
    }
  }

  &:hover .cardImage img {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
  }

  &:hover .cardImage h3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  }

  .cardContent {
    flex-grow: 1;
    padding: 1rem;

    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    ul {
      padding-left: 40px;
      margin: 0 0 10px;
      list-style-type: disc;
    }

    ul li {
      font-size: 0.9rem;
      line-height: 1.5;
      list-style-type: disc;
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: 1rem;

    .morePhotos,
    .bookNow {
      padding: 10px 15px;
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s, transform 0.2s;
      min-width: 120px;
      text-align: center;
    }

    .morePhotos {
      background: #c29462;
      border: none;
      color: white;

      &:hover {
        background: #9c764c;
        transform: scale(1.05);
      }
    }

    .bookNow {
      background: #e1bd96;
      border: none;
      color: white;

      &:hover {
        background: #b69979;
        transform: scale(1.05);
      }
    }
  }
}

.galleryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.galleryContent {
  position: relative;
  max-width: 70%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.486);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 1001;
  transition: color 0.3s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #f0a500;
  }
}

.swiperContainer {
  width: 100%;
  height: 80vh;
  position: relative;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0;
}

.swiperNavigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1000;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 15px;
  z-index: 10;
  opacity: 1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.swiperButtonPrev {
  left: 10px;
}

.swiperButtonNext {
  right: 10px;
}

@media (max-width: 1120px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .card {
    max-width: 100%;
  }
  .swiperButtonPrev,
  .swiperButtonNext {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  .swiperButtonPrev {
    left: 5px;
  }

  .swiperButtonNext {
    right: 5px;
  }

  .closeButton {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .galleryContent {
    max-width: 100%;
    max-height: 100%;
  }
}
