.header {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mainContainer {
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 5rem;
}

.amenitiesSection {
  padding: 2rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0 1.5rem;
  }
}
