:root {
  /* Color styles */
  --soft--peach: rgba(254, 238, 205, 1);
  --sandy--beige: rgba(255, 238, 210, 1);
  --ocean--teal: rgba(59, 98, 115, 1);
  --deep--sea--blue: rgba(72, 109, 131, 1);
  --sunset--orange: rgba(164, 95, 20, 1);
  --warm--amber: rgba(214, 123, 29, 1);
  --coral----accent: rgba(255, 184, 140, 1);
  --soft--aqua----accent: rgba(148, 181, 196, 1);
  --light--sand----accent: rgba(217, 173, 124, 1);
  --pure--white: rgba(255, 255, 255, 1);
  --ivory----accent: rgba(242, 230, 216, 1);
  --text: rgba(85, 85, 85, 1);
  --neutral---n0: rgba(255, 255, 255, 1);
  --neutral---n10: rgba(250, 251, 251, 1);
  --neutral---n20: rgba(245, 246, 247, 1);
  --neutral---n30: rgba(235, 237, 240, 1);
  --neutral---n40: rgba(223, 226, 230, 1);
  --neutral---n50: rgba(194, 199, 208, 1);
  --neutral---n60: rgba(179, 185, 196, 1);
  --neutral---n70: rgba(166, 174, 187, 1);
  --neutral---n80: rgba(152, 161, 176, 1);
  --neutral---n90: rgba(137, 147, 164, 1);
  --neutral---n100: rgba(122, 134, 153, 1);
  --neutral---n200: rgba(107, 120, 142, 1);
  --neutral---n300: rgba(93, 107, 130, 1);
  --neutral---n400: rgba(80, 95, 121, 1);
  --neutral---n500: rgba(66, 82, 109, 1);
  --neutral---n600: rgba(53, 71, 100, 1);
  --neutral---n700: rgba(36, 55, 87, 1);
  --neutral---n800: rgba(21, 41, 75, 1);
  --neutral---n900: rgba(9, 30, 66, 1);
  --softpeach--softpeach-50: rgba(255, 253, 250, 1);
  --softpeach--softpeach-100: rgba(255, 250, 240, 1);
  --softpeach--softpeach-200: rgba(255, 247, 232, 1);
  --softpeach--softpeach-300: rgba(254, 244, 222, 1);
  --softpeach--softpeach-400: rgba(254, 241, 215, 1);
  --softpeach--softpeach-500: rgba(254, 238, 205, 1);
  --softpeach--softpeach-600: rgba(231, 217, 187, 1);
  --softpeach--softpeach-700: rgba(180, 169, 146, 1);
  --softpeach--softpeach-800: rgba(140, 131, 113, 1);
  --softpeach--softpeach-900: rgba(107, 100, 86, 1);
  --sandybeige--sandybeige-50: rgba(255, 253, 251, 1);
  --sandybeige--sandybeige-100: rgba(255, 250, 241, 1);
  --sandybeige--sandybeige-200: rgba(255, 247, 234, 1);
  --sandybeige--sandybeige-300: rgba(255, 244, 225, 1);
  --sandybeige--sandybeige-400: rgba(255, 241, 219, 1);
  --sandybeige--sandybeige-500: rgba(255, 238, 210, 1);
  --sandybeige--sandybeige-600: rgba(232, 217, 191, 1);
  --sandybeige--sandybeige-700: rgba(181, 169, 149, 1);
  --sandybeige--sandybeige-800: rgba(140, 131, 116, 1);
  --sandybeige--sandybeige-900: rgba(107, 100, 88, 1);
  --oceanteal--oceanteal-50: rgba(235, 239, 241, 1);
  --oceanteal--oceanteal-100: rgba(194, 206, 212, 1);
  --oceanteal--oceanteal-200: rgba(165, 183, 191, 1);
  --oceanteal--oceanteal-300: rgba(124, 150, 161, 1);
  --oceanteal--oceanteal-400: rgba(98, 129, 143, 1);
  --oceanteal--oceanteal-500: rgba(59, 98, 115, 1);
  --oceanteal--oceanteal-600: rgba(54, 89, 105, 1);
  --oceanteal--oceanteal-700: rgba(42, 70, 82, 1);
  --oceanteal--oceanteal-800: rgba(32, 54, 63, 1);
  --oceanteal--oceanteal-900: rgba(25, 41, 48, 1);
  --deepseablue--deepseablue-50: rgba(237, 240, 243, 1);
  --deepseablue--deepseablue-100: rgba(198, 210, 217, 1);
  --deepseablue--deepseablue-200: rgba(171, 188, 198, 1);
  --deepseablue--deepseablue-300: rgba(132, 157, 172, 1);
  --deepseablue--deepseablue-400: rgba(109, 138, 156, 1);
  --deepseablue--deepseablue-500: rgba(72, 109, 131, 1);
  --deepseablue--deepseablue-600: rgba(66, 99, 119, 1);
  --deepseablue--deepseablue-700: rgba(51, 77, 93, 1);
  --deepseablue--deepseablue-800: rgba(40, 60, 72, 1);
  --deepseablue--deepseablue-900: rgba(30, 46, 55, 1);
  --sunsetorange--sunsetorange-50: rgba(246, 239, 232, 1);
  --sunsetorange--sunsetorange-100: rgba(227, 205, 182, 1);
  --sunsetorange--sunsetorange-200: rgba(213, 181, 147, 1);
  --sunsetorange--sunsetorange-300: rgba(194, 148, 98, 1);
  --sunsetorange--sunsetorange-400: rgba(182, 127, 67, 1);
  --sunsetorange--sunsetorange-500: rgba(164, 95, 20, 1);
  --sunsetorange--sunsetorange-600: rgba(149, 86, 18, 1);
  --sunsetorange--sunsetorange-700: rgba(116, 67, 14, 1);
  --sunsetorange--sunsetorange-800: rgba(90, 52, 11, 1);
  --sunsetorange--sunsetorange-900: rgba(69, 40, 8, 1);
  --warm-amber--warm-amber-50: rgba(251, 242, 232, 1);
  --warm-amber--warm-amber-100: rgba(242, 214, 185, 1);
  --warm-amber--warm-amber-200: rgba(236, 194, 151, 1);
  --warm-amber--warm-amber-300: rgba(228, 167, 104, 1);
  --warm-amber--warm-amber-400: rgba(222, 149, 74, 1);
  --warm-amber--warm-amber-500: rgba(214, 123, 29, 1);
  --warm-amber--warm-amber-600: rgba(195, 112, 26, 1);
  --warm-amber--warm-amber-700: rgba(152, 87, 21, 1);
  --warm-amber--warm-amber-800: rgba(118, 68, 16, 1);
  --warm-amber--warm-amber-900: rgba(90, 52, 12, 1);
  --coral--coral-50: rgba(255, 248, 244, 1);
  --coral--coral-100: rgba(255, 233, 219, 1);
  --coral--coral-200: rgba(255, 222, 202, 1);
  --coral--coral-300: rgba(255, 207, 178, 1);
  --coral--coral-400: rgba(255, 198, 163, 1);
  --coral--coral-500: rgba(255, 184, 140, 1);
  --coral--coral-600: rgba(232, 167, 127, 1);
  --coral--coral-700: rgba(181, 131, 99, 1);
  --coral--coral-800: rgba(140, 101, 77, 1);
  --coral--coral-900: rgba(107, 77, 59, 1);
  --aqua--aqua-50: rgba(244, 248, 249, 1);
  --aqua--aqua-100: rgba(222, 232, 237, 1);
  --aqua--aqua-200: rgba(206, 221, 228, 1);
  --aqua--aqua-300: rgba(183, 205, 215, 1);
  --aqua--aqua-400: rgba(169, 196, 208, 1);
  --aqua--aqua-500: rgba(148, 181, 196, 1);
  --aqua--aqua-600: rgba(135, 165, 178, 1);
  --aqua--aqua-700: rgba(105, 129, 139, 1);
  --aqua--aqua-800: rgba(81, 100, 108, 1);
  --aqua--aqua-900: rgba(62, 76, 82, 1);
  --sand--sand-50: rgba(251, 247, 242, 1);
  --sand--sand-100: rgba(243, 230, 214, 1);
  --sand--sand-200: rgba(238, 217, 195, 1);
  --sand--sand-300: rgba(230, 200, 167, 1);
  --sand--sand-400: rgba(225, 189, 150, 1);
  --sand--sand-500: rgba(217, 173, 124, 1);
  --sand--sand-600: rgba(197, 157, 113, 1);
  --sand--sand-700: rgba(154, 123, 88, 1);
  --sand--sand-800: rgba(119, 95, 68, 1);
  --sand--sand-900: rgba(91, 73, 52, 1);
  --ivory--ivory-50: rgba(254, 253, 251, 1);
  --ivory--ivory-100: rgba(251, 247, 243, 1);
  --ivory--ivory-200: rgba(249, 244, 237, 1);
  --ivory--ivory-300: rgba(246, 238, 229, 1);
  --ivory--ivory-400: rgba(245, 235, 224, 1);
  --ivory--ivory-500: rgba(242, 230, 216, 1);
  --ivory--ivory-600: rgba(220, 209, 197, 1);
  --ivory--ivory-700: rgba(172, 163, 153, 1);
  --ivory--ivory-800: rgba(133, 127, 119, 1);
  --ivory--ivory-900: rgba(102, 97, 91, 1);

  /* Text-size styles */
  /* base size: text-primary-base (16px) */
  --text-primary-base: 1rem;
  --text-primary-sm: 0.81rem;
  --text-primary-xs: 0.62rem;
  --text-primary-lg: 1.25rem;
  --text-primary-xl: 1.56rem;
  --text-primary-2xl: 1.94rem;
  --text-primary-3xl: 2.44rem;
  --text-primary-4xl: 3.06rem;
  --text-primary-6xl: 3.81rem;
  --text-primary-base-bold: 1rem;
  --text-brand-base: 1rem;
  --text-brand-sm: 0.75rem;
  --text-brand-xs: 0.56rem;
  --text-brand-lg: 1.31rem;
  --text-brand-xl: 1.75rem;
  --text-brand-2xl: 2.38rem;
  --text-brand-3xl: 3.19rem;
  --text-brand-4xl: 4.19rem;
  --text-brand-5xl: 5.62rem;
  --text-secondary-base: 1rem;
  --text-secondary-sm: 0.81rem;
  --text-secondary-xs: 0.62rem;
  --text-secondary-lg: 1.25rem;
  --text-secondary-xl: 1.56rem;
  --text-secondary-2xl: 1.94rem;
  --text-secondary-3xl: 2.44rem;
  --text-secondary-4xl: 3.06rem;
  --text-secondary-5xl: 3.81rem;
}

.h1 {
  font: var(--text-brand-5xl);
  color: var(--aqua--aqua-900);
}
