.accordion {
  width: 100%;
  max-width: 1151px;
  border-radius: 4px;
  overflow: hidden;
  margin: 4rem auto;

  .accordionItem {
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    .accordionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      cursor: pointer;

      h3 {
        margin: 0;
        font-size: 1rem;
      }

      span {
        font-size: 2rem;
      }
    }

    .accordionContent {
      padding: 1rem;
      background-color: #fff;
    }
  }
}
