.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.tableContainer {
  width: 100%;
  padding: 20px 40px 100px 40px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.table_wrapper {
  width: 100%;
  margin: 0;
  padding: 30px;
  border-radius: 12px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
}

.leftGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 2000px;
}
.searchLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  visibility: hidden;
}
.searchInput {
  height: 45px;
  width: 500px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  text-indent: 12px;
}

.searchInput:focus {
  border-color: var(--color-sunset-orange-500);
  box-shadow: 0px 2px 10px rgba(255, 94, 77, 0.3);
}

.exportButton {
  background-color: var(--color-sunset-orange-500);
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  &:hover {
    background-color: #784610;
  }
}

.exportButton i {
  font-size: 16px;
}

.rightGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: auto;
  flex-shrink: 0;
}

.filterForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filterLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.filterSelect {
  width: 180px;
  padding: 12px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.filterSelect:focus {
  outline: none;
  border-color: var(--color-sunset-orange-500);
  box-shadow: 0px 2px 8px rgba(255, 94, 77, 0.3);
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
  border-radius: 10px;
  table-layout: fixed;
}

.tableTitle {
  color: var(--color-sunset-orange-500);
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #ffffff9a;
  z-index: 3;
  font-size: 24px;
}

.tableHead {
  text-align: left;
  position: sticky;
  top: 50px;
  z-index: 2;
  background-color: #ffffff9a;
  border-bottom: 1px solid #ddd;
}

.tableHead th {
  padding: 12px;
  font-weight: 600;
  color: var(--color-sunset-orange-500);
  background-color: #ffffff;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.table tbody {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  text-align: left;
  padding: 12px;
}

.table tbody td {
  padding: 12px;
  background-color: #ffffff;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tableRow {
  border-bottom: 1px solid #ddd;
}

.tableCell {
  padding: 12px;
}

.referenceLink {
  all: unset;
  color: var(--color-sunset-orange-500);
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.scrollableTableWrapper {
  max-height: 52vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.hiddenStatus {
  display: none;
}

.messageTextarea {
  max-height: 150px;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--color-sunset-orange-500);
    box-shadow: 0px 2px 8px rgba(255, 94, 77, 0.2);
  }
}
.accordionRow {
  background-color: #fdf8f7;
  transition: all 0.3s ease-in-out;
  animation: fadeSlideDown 0.25s ease-in-out;

  td {
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
  @keyframes fadeSlideDown {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dateEditor {
  display: flex;
  align-items: center;
  gap: 20px;

  label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;

    input {
      margin-top: 6px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 200px;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        outline: none;
        border-color: var(--color-sunset-orange-500);
        box-shadow: 0px 2px 8px rgba(255, 94, 77, 0.2);
      }
    }
  }
}

.buttonGroup {
  display: flex;
  gap: 1rem; 
}

.dateEditorButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.dateEditorButtons button {
  width: 150px;
}

.thumbnailImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.imageModalContent {
  position: relative;
  overflow: hidden;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 95%;
  max-width: 80%;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 1px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.imageWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modalImage {
  width: 100%;
  height: auto;
  transition: transform 0.25s ease-in-out;
}

.bold-date {
  font-weight: bold;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.paginationButton {
  padding: 8px 15px;
  border: none;
  background-color: #d67b1d;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.paginationButton:hover:not(:disabled) {
  background-color: #955414;
}

.paginationButton:disabled {
  background-color: #c5c5c5;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 16px;
  color: #333;
}

.tableCell select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tableCell select:focus {
  outline: none;
  border-color: var(--color-sunset-orange-500);
  box-shadow: 0px 2px 8px rgba(255, 94, 77, 0.3);
}

.tableCell select:hover {
  border-color: var(--color-sunset-orange-500);
}

.tableCell select option:disabled {
  color: #aaa;
  background-color: #f0f0f0;
}

.tableCell select option {
  padding: 10px;
  font-size: 14px;
  background-color: white;
  color: #333;
  border: none;
  transition: background-color 0.3s ease;
}

.tableCell select option:hover {
  background-color: #f5f5f5;
  color: var(--color-sunset-orange-500);
}

.tableCell select::-ms-expand {
  display: none;
}

.tableCell select::after {
  content: " ▼";
  font-size: 14px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.noBookingsMessage {
  text-align: center;
  color: #b8b8b8;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 2rem 0;
}

@media (max-width: 1352px) {
  .topContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .leftGroup,
  .rightGroup {
    width: 100%;
    align-items: flex-start;
  }

  .searchContainer {
    width: 100%;
    justify-content: flex-start;
  }

  .searchInput {
    width: 100%;
    max-width: 100%;
  }

  .rightGroup {
    flex-direction: column;
    gap: 10px;
  }

  .filterForm,
  .filterSelect {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .tableContainer {
    width: 100%;
    overflow-x: auto;
  }

  .table {
    min-width: 700px;
    font-size: 14px;
  }

  .tableCell select {
    font-size: 12px;
    padding: 8px 10px;
  }

  .topContainer {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  .leftGroup,
  .rightGroup {
    width: 100%;
    align-items: flex-end;
  }

  .searchContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .searchInput {
    width: 100%;
    max-width: 100%;
  }

  .rightGroup {
    flex-direction: column;
    gap: 10px;
  }

  .filterForm,
  .filterSelect {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .table {
    min-width: 600px;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 8px;
  }

  .exportButton {
    font-size: 12px;
    padding: 6px 10px;
    width: 100%; 
    justify-content: center; 
  }

  .tableCell select {
    font-size: 12px;
    padding: 6px 10px;
  }

  .topContainer {
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  .leftGroup,
  .rightGroup {
    width: 100%;
    align-items: flex-end;
  }

  .searchContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .searchInput {
    width: 100%;
    max-width: 100%;
  }

  .rightGroup {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
  }

  .filterForm,
  .filterSelect {
    width: 100%;
  }

  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .buttonGroup {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}


@media (max-width: 480px) {
  .tableContainer {
    width: 100%;
  }

  .table {
    min-width: 500px;
    font-size: 10px;
  }

  .table th,
  .table td {
    padding: 5px;
  }

  .leftGroup,
  .rightGroup {
    align-items: flex-end;
  }

  .searchInput {
    width: 100%;
    font-size: 12px;
  }

  .exportButton {
    width: 100%;
    justify-content: center;
  }

  .filterSelect {
    width: 100%;
    font-size: 12px;
  }
  .rightGroup {
    gap: 8px;
  }

  .exportButton,
  .addButton {
    font-size: 12px;
    padding: 8px;
    width: 100%;
  }
}
