.backBtn {
  color: var(--color-amber-300);
  font-family: 'Open Sans';
  font-size: var(--text-2xl);
  border: none;
  background: transparent;
  cursor: pointer;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .backBtnContainer {
    display: flex;
    justify-content: flex-start;
  }

  .backBtn {
    margin-left: -70px;
    font-size: var(--text-size-base);
  }
}
