.backBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 70px 0 70px 70px;
  color: var(--color-amber-300);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: var(--text-line-height-xl);

  svg path {
    fill: var(--color-amber-300);
    transition: fill 0.3s ease;
  }

  &:hover {
    color: var(--color-amber-500);

    svg path {
      fill: var(--color-amber-500);
    }
  }
}

@media (max-width: 1550px) {
  .backBtn {
    margin-left: 50px;
  }
}

@media (max-width: 1280px) {
  .backBtn {
    margin-left: 40px;
  }
}

@media (max-width: 1024px) {
  .backBtn {
    margin-left: 30px;
    width: 350px;
  }
}

@media (max-width: 992px) {
  .backBtn {
    margin-left: 20px;
    width: 300px;
    font-size: var(--text-size-lg);
  }
}

@media (max-width: 768px) {
  .backBtn {
    margin-left: 10px;
    height: 10px;
    width: 250px;
    font-size: var(--text-size-base);
  }

  .backBtnContainer {
    display: flex;
    justify-content: flex-start;
  }
}
