.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.bookingButton {
  width: 100%;
  height: 3.7rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3.74px;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--Light-Sand---Accent, #d9ad7c);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover:not(:disabled) {
    background-color: darken(#d9ad7c, 10%);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  @media (max-width: 992px) {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
  }
}
