.confirmBooking {
  display: flex;
  width: 1207px;
  padding: 23px 0px 22px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Light-Sand---Accent, #d9ad7c);
  outline: none;
  border: none;
  width: 100vw;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px;
}
