.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background: #fff;
    width: 80vw;
    max-width: 600px;
    max-height: 90vh;
    padding: 2rem;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
    color: #d9ad7c;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2.2rem 0;
  }
  
  .content {
    width: 100%; 
    max-height: calc(90vh - 160px); 
    overflow-y: auto;
    padding-right: 1rem;
    margin-bottom: 0; 
  }
  
  .content p {
    color: #666;
    font-size: 0.95rem;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .content h3 {
    overflow-y: auto;
    max-height: 50vh;
    padding-right: 1rem;
    color: #444;
    margin-top: 1rem;
    padding-bottom: 0.2rem;
    font-size: 1.1rem;
    color: #000;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.4rem;
  }
  
  .content ul {
    color: #666;
    font-size: 0.95rem;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 1.5rem;
  }
  
  .bookingButton {
    background-color: #d9ad7c;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bookingButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .link {
    color: #de954a;
    cursor: pointer;
    text-decoration: underline;
  }
  