.paymentContainer {
  height: auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Open Sans";
}

.paymentOptions {
  border-radius: 10px;
  border: 1px solid rgba(22, 22, 22, 0.4);
  opacity: 0.4;
  width: 700px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.4;
  max-width: 100%;
  margin: 20px 0 10px 7px;
  padding: 7px;
}

.heading {
  color: var(--text, #555);
  font-family: "Open Sans";
  font-size: var(--text-size-xl);
  font-style: normal;
  font-weight: 600;
  line-height: 2.1875rem; /* 140% */
  padding: 5px 0 0 10px;
}

.required {
  color: red;
}

.subheading {
  color: #000;
  font-family: "Open Sans";
  font-size: var(--text-size-base);
  font-style: normal;
  font-weight: 300;

  margin: 10px;
}

.fileUpload {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgba(22, 22, 22, 0.4);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.error {
  color: red;
  font-style: italic;
  font-size: var(--text-size-xs);
  margin-top: 0.25rem;
}

.fileUpload input[type="file"] {
  display: none;
}

.uploadText {
  display: flex;
  align-items: center;
}

.uploadText i {
  margin-right: 8px;
}

.uploadIcon {
  padding-right: 5px;
}

.file {
  margin: 8px 0 1px 8px;
}

.labelFile {
  margin: 13px 0 0 12px;
}

.uploadSubtext {
  font-size: var(--text-size-xs);
  line-height: 1.5;
  color: #000;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 0 12px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  padding-left: 10px;
}

@media screen and (max-width: 1550px) {
  .paymentContainer {
    height: auto;
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (max-width: 1280px) {
  .paymentContainer {
    width: 100%;
    max-width: 400px;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .paymentContainer {
    max-width: 450px;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 992px) {
  .paymentContainer {
    max-width: 320px;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 768px) {
  .paymentContainer {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    padding: 25px 30px;
  }
}

.file {
  display: block;
  width: 100%;
  font-size: var(--text-size-base);
  line-height: var(--text-line-height-base);
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgba(22, 22, 22, 0.4);
  color: rgba(22, 22, 22, 0.4);
  overflow: hidden;

  &::file-selector-button {
    border: none;
    outline: none;
    padding: 0.5rem 0.875rem;
    color: var(--color-neutral-600);
    background-color: var(--color-neutral-300);
    z-index: -1;
  }

  &:focus {
    outline: none;
  }
}
