.paymentContainer {
  margin-top: -300px;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 10px 0 0 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans';
}

.paymentOptions {
  border-radius: 10px;
  border: 1px solid rgba(22, 22, 22, 0.4);
  opacity: 0.4;
  width: 400px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.4;
  max-width: 100%;
  margin-bottom: 30px;
}

.heading {
  color: var(--text, #555);
  font-family: 'Open Sans';
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.1875rem; /* 140% */
}

.required {
  color: red;
}

.subheading {
  color: #000;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.1875rem;
  margin: 10px;
}

.fileUpload {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgba(22, 22, 22, 0.4);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.fileUpload input[type='file'] {
  display: none;
}

.uploadText {
  display: flex;
  align-items: center;
}

.uploadText i {
  margin-right: 8px;
}

.uploadIcon {
  padding-right: 5px;
}
