.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.title {
  color: var(--Light-Sand, #d9ad7c);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 4px;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    // Tablets
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 3px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (max-width: 480px) {
    // Mobile
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.line {
  width: 120px;
  height: 4px;
  background-color: #d9ad7c;
  border-radius: 2px;

  @media (max-width: 480px) {
    // Mobile
    width: 100px;
    height: 3px;
  }
}
