.header {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  position: relative;

  .image {
    width: 100%;
    object-fit: cover;
  }
}

.container {
  margin: 2rem auto 8rem auto;
  max-width: 1400px;
  padding: 0 8rem;
}

.activities {
  margin-top: 2rem;
}
