.floatingIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 61px;
  height: 57px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.floatingIcon:hover {
  height: 80px;
  width: 70px;
  transition: transform 0.2s ease-in-out;
}
