// Modern CSS Reset
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Mode 1 */
  /* color */
  --color-amber-100: #f2d6b9;
  --color-amber-200: #ecc297;
  --color-amber-300: #e4a768;
  --color-amber-400: #de954a;
  --color-amber-50: #fbf2e8;
  --color-amber-500: #d67b1d;
  --color-amber-600: #c3701a;
  --color-amber-700: #985715;
  --color-amber-800: #764410;
  --color-amber-900: #5a340c;
  --color-aqua-100: #dee8ed;
  --color-aqua-200: #cedde4;
  --color-aqua-300: #b7cdd7;
  --color-aqua-400: #a9c4d0;
  --color-aqua-50: #f4f8f9;
  --color-aqua-500: #94b5c4;
  --color-aqua-600: #87a5b2;
  --color-aqua-700: #69818b;
  --color-aqua-800: #51646c;
  --color-aqua-900: #3e4c52;
  --color-beige-100: #fffaf1;
  --color-beige-200: #fff7ea;
  --color-beige-300: #fff4e1;
  --color-beige-400: #fff1db;
  --color-beige-50: #fffdfb;
  --color-beige-500: #ffeed2;
  --color-beige-600: #e8d9bf;
  --color-beige-700: #b5a995;
  --color-beige-800: #8c8374;
  --color-beige-900: #6b6458;
  --color-coral-100: #ffe9db;
  --color-coral-200: #ffdeca;
  --color-coral-300: #ffcfb2;
  --color-coral-400: #ffc6a3;
  --color-coral-50: #fff8f4;
  --color-coral-500: #ffb88c;
  --color-coral-600: #e8a77f;
  --color-coral-700: #b58363;
  --color-coral-800: #8c654d;
  --color-coral-900: #6b4d3b;
  --color-ivory-100: #fbf7f3;
  --color-ivory-200: #f9f4ed;
  --color-ivory-300: #f6eee5;
  --color-ivory-400: #f5ebe0;
  --color-ivory-50: #fefdfb;
  --color-ivory-500: #f2e6d8;
  --color-ivory-600: #dcd1c5;
  --color-ivory-700: #aca399;
  --color-ivory-800: #857f77;
  --color-ivory-900: #66615b;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d8;
  --color-neutral-400: #a3a3a3;
  --color-neutral-50: #fafafa;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-ocean-teal-100: #c2ced4;
  --color-ocean-teal-200: #a5b7bf;
  --color-ocean-teal-300: #7c96a1;
  --color-ocean-teal-400: #62818f;
  --color-ocean-teal-50: #ebeff1;
  --color-ocean-teal-500: #3b6273;
  --color-ocean-teal-600: #365969;
  --color-ocean-teal-700: #2a4652;
  --color-ocean-teal-800: #20363f;
  --color-ocean-teal-900: #192930;
  --color-peach-100: #fffaf0;
  --color-peach-200: #fff7e8;
  --color-peach-300: #fef4de;
  --color-peach-400: #fef1d7;
  --color-peach-50: #fffdfa;
  --color-peach-500: #feeecd;
  --color-peach-600: #e7d9bb;
  --color-peach-700: #b4a992;
  --color-peach-800: #8c8371;
  --color-peach-900: #6b6456;
  --color-sand-100: #f3e6d6;
  --color-sand-200: #eed9c3;
  --color-sand-300: #e6c8a7;
  --color-sand-400: #e1bd96;
  --color-sand-50: #fbf7f2;
  --color-sand-500: #d9ad7c;
  --color-sand-600: #c59d71;
  --color-sand-700: #9a7b58;
  --color-sand-800: #775f44;
  --color-sand-900: #5b4934;
  --color-sea-blue-100: #c6d2d9;
  --color-sea-blue-200: #abbcc6;
  --color-sea-blue-300: #849dac;
  --color-sea-blue-400: #6d8a9c;
  --color-sea-blue-50: #edf0f3;
  --color-sea-blue-500: #486d83;
  --color-sea-blue-600: #426377;
  --color-sea-blue-700: #334d5d;
  --color-sea-blue-800: #283c48;
  --color-sea-blue-900: #1e2e37;
  --color-sunset-orange-100: #e3cdb6;
  --color-sunset-orange-200: #d5b593;
  --color-sunset-orange-300: #c29462;
  --color-sunset-orange-400: #b67f43;
  --color-sunset-orange-50: #f6efe8;
  --color-sunset-orange-500: #a45f14;
  --color-sunset-orange-600: #955612;
  --color-sunset-orange-700: #74430e;
  --color-sunset-orange-800: #5a340b;
  --color-sunset-orange-900: #452808;
  --color-red-100: #fef2f2;
  --color-red-200: #fee2e2;
  --color-red-300: #fecaca;
  --color-red-400: #fca5a5;
  --color-red-500: #f87171;
  --color-red-600: #ef4444;
  --color-red-700: #dc2626;
  --color-red-800: #b91c1c;
  --color-red-900: #991b1b;
  --color-red-1000: #7f1d1d;
  --color-green-100: #ecfdf5;
  --color-green-200: #d1fae5;
  --color-green-300: #a7f3d0;
  --color-green-400: #6ee7b7;
  --color-green-500: #34d399;
  --color-green-600: #10b981;
  --color-green-700: #059669;
  --color-green-800: #047857;
  --color-green-900: #065f46;
  --color-green-1000: #064e3b;

  /* number */
  --text-line-height-xs: 1.0416rem;
  --text-line-height-sm: 1.2497rem;
  --text-line-height-base: 1.5rem;
  --text-line-height-lg: 1.8rem;
  --text-line-height-xl: 2.16rem;
  --text-line-height-2xl: 2.5922rem;
  --text-line-height-3xl: 3.1106rem;
  --text-line-height-4xl: 3.7322rem;
  --text-line-height-5xl: 4.4794rem;
  --text-size-xs: 0.6944rem;
  --text-size-sm: 0.8331rem;
  --text-size-base: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xl: 1.44rem;
  --text-size-2xl: 1.7281rem;
  --text-size-3xl: 2.0738rem;
  --text-size-4xl: 2.4881rem;
  --text-size-5xl: 2.9862rem;
  --font-primary: "Open Sans", serif;
  --font-secondary: "Poltawski Nowy", serif;
  --font-brand: "Abril Fatface", serif;
  --navbar-height: 7rem;
}

$font-primary: "Open Sans", serif;

.text-xs {
  font-size: var(--text-size-xs);
  line-height: var(--text-line-height-xs);
}

.text-sm {
  font-size: var(--text-size-sm);
  line-height: var(--text-line-height-sm);
}

.text-base {
  font-size: var(--text-size-base);
  line-height: var(--text-line-height-base);
}

.text-lg {
  font-size: var(--text-size-lg);
  line-height: var(--text-line-height-lg);
}

.text-xl {
  font-size: var(--text-size-xl);
  line-height: var(--text-line-height-xl);
}

.text-2xl {
  font-size: var(--text-size-2xl);
  line-height: var(--text-line-height-2xl);
}

.text-2xl {
  font-size: var(--text-size-2xl);
  line-height: var(--text-size-2xl);
}

.font-primary {
  font-family: var(--font-open-sans);
}

.font-secondary {
  font-family: var(--font-abril-fatface);
}

.font-brand {
  font-family: var(--font-poltawski-nowy);
}

.container {
  --max-width: 1300px;
  --padding: 3rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: var(--font-primary);
  color: var(--color-neutral-700);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-neutral-600);
}
a:hover {
  text-decoration: underline;
}
.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
