.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.title {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

.message {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: #666;
}
