.heroSection {
  position: relative;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.hero-wrapper {
  height: 100%;
}

.hero-logo-image-container {
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;

  img {
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content-container {
  color: var(--color-neutral-300);
}

.book-now-button {
  width: min(75%, 24rem);
  margin: 0.875rem 1rem 0.5rem;
}

.subtext {
  font-size: var(--text-size-xs);
  line-height: 1.5;
  a {
    text-decoration: underline;
    color: inherit;
  }
}

.welcome-section {
  width: 100%;
  display: flex;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-500);
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p {
    width: min(100%, 50rem);
  }
}

.section-header {
  color: var(--color-sand-500);
  margin-bottom: 2rem;
  text-align: center;

  .subtext {
    font-size: var(--text-size-base);
    text-transform: uppercase;
  }

  .title {
    font-size: var(--text-size-xl);
    line-height: var(--text-line-height-xl);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 18%;

    &::after {
      display: block;
      margin: 0.5rem auto;
      content: "";
      width: 120px;
      height: 3px;
      background-color: var(--color-sand-500);
    }
  }
}

.footstepsSection {
  position: relative;
  height: 50vh;
  min-height: 400px;

  .footstepsImage {
    position: absolute;
    inset: 0;
    background-image: url("/assets/home_river.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    img {
      object-fit: cover;
    }
  }

  .footstepsContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0 5%;

    h2 {
      font-size: var(--text-size-lg);
      font-weight: bold;
      letter-spacing: 4px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.ourCabinsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cabin-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cabin-card {
  max-width: 23.125rem;
  width: 80%;
  text-align: center;
  .wrapper {
    position: relative;
  }

  .img-wrapper {
    position: relative;
    aspect-ratio: 4/4;
    img {
      object-fit: cover;
    }
  }

  .title {
    color: var(--color-sand-500);
    font-size: var(--text-size-xl);
    line-height: var(--text-line-height-xl);
    text-transform: uppercase;
    letter-spacing: 18%;
    font-weight: 600;
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
  }

  .description {
    color: var(--color-neutral-500);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height-base);
    font-style: italic;
  }
}

.all-around-experience-section {
  background: url("/assets/home_activities.png") no-repeat center center/cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.why-choose-us-section {
  padding: 6rem 0;
  color: var(--color-neutral-500);

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .header-description {
    text-align: center;
    margin-bottom: 2rem;
  }

  .two-column {
    display: grid;
    width: 100%;
    grid-template-areas:
      "img"
      "text";

    .text-area {
      grid-area: text;
      width: 100%;

      * {
        margin-bottom: 2rem;
      }

      .title {
        font-size: var(--text-size-xl);
        line-height: var(--text-line-height-xl);
        color: var(--color-sand-500);
        font-weight: 500;
        letter-spacing: 18%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;

        &::after {
          display: block;
          content: "";
          width: 25%;
          height: 2px;
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          background-color: var(--color-sand-500);
        }
      }

      .description {
        font-size: var(--text-size-base);
        line-height: 2;
        margin-bottom: 1rem;
      }
    }

    .img-area {
      position: relative;
      width: 100%;
      aspect-ratio: 5/4;
      grid-area: img;

      img {
        object-fit: cover;
      }
    }
  }
}

@media (width >= 48rem) {
  .subtext {
    font-size: var(--text-size-base);
    line-height: var(--text-line-height-base);
  }

  .welcome-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-header {
    .title {
      font-size: var(--text-size-2xl);
      line-height: var(--text-line-height-2xl);
    }
  }

  .footstepsContent {
    h2 {
      font-size: var(--text-size-xl);
      line-height: var(--text-line-height-xl);
    }
  }

  .cabin-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 3rem;
  }

  .cabin-card {
    width: 100%;
  }

  .why-choose-us-section {
    .header-description {
      max-width: 80%;
      margin: 0 auto 3rem;
    }

    .two-column {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }

    .img-right {
      grid-template-areas: "text img";
      text-align: left;

      .title {
        &::after {
          margin-left: 0 !important;
          margin-right: auto !important;
        }
      }
    }

    .img-left {
      grid-template-areas: "img text";
      text-align: right;

      .title {
        &::after {
          margin-left: auto !important;
          margin-right: 0 !important;
        }
      }
    }
  }
}
