.paymentContainer {
  height: auto;
  max-width: 100vw;
}

.paymentDetails {
  display: grid;
  margin: 0 60px;
  border-top: 0.5px solid var(--color-neutral-500);
  width: 90%;
  padding: 20px;
}

.text {
  color: var(--color-neutral-600);
  font-size: var(--text-size-xl);
  font-family: var(--font-primary);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.paymentContainers {
  margin: 20px -50px;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}

.leftContainer {
  height: auto;
  width: auto;
}

.rightContainer {
  height: auto;
  width: auto;
}

.container1 {
  order: 2;
  grid-row: span 2;
}

.container2 {
  order: 1;
}

.container3 {
  order: 3;
}

.container4 {
  order: 4;
}

.container5 {
  order: 5;
  height: 200px;
}

@media (max-width: 768px) {
  .paymentContainer {
    height: auto;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .paymentDetails {
    margin: 0 20px;
    border-top: 0.5px solid var(--color-neutral-500);
    width: 90vw;
    padding: 20px;
  }

  .paymentContainers {
    margin: 20px -50px;
    display: flex;
    flex-direction: column;
  }

  .leftContainer {
    height: auto;
    max-width: 85vw;
    width: 95%;
  }

  .rightContainer {
    height: auto;
    max-width: 85vw;
    width: 95%;
  }

  .text {
    color: var(--color-neutral-600);
    font-size: var(--text-size-base);
    line-height: var(--text-line-height-base);
  }

  .container1 {
    order: 1;
  }

  .container2 {
    order: 2;
  }

  .container3 {
    order: 3;
  }

  .container4 {
    order: 4;
  }

  .container5 {
    order: 5;
  }
}
