.paymentContainer {
  height: auto;
  max-width: 100vw;
  font-family: "Open Sans";
}

.paymentDetails {
  display: grid;
  margin: 15px auto;
  border-top: 0.5px solid rgba(135, 135, 135, 0.28);
  width: 90%;
  max-width: 1600px;
  padding: 80px 100px;
  justify-content: center;
  box-sizing: border-box;
}

.paymentDetailsTitle {
  color: var(--color-neutral-600);
  font-size: var(--text-size-2xl);
  font-family: "Open Sans";
  font-weight: 600;
  margin: 0 0 20px 0;
}

.bold {
  font-weight: bold;
}

.paymentContainers {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  width: 100%;
  height: auto;
  font-family: "Open Sans";
  gap: 20px;
  box-sizing: border-box;
}

.leftContainer,
.rightContainer {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.container1 {
  order: 2;
  grid-row: span 2;
}

.container2 {
  order: 1;
}

.container3 {
  order: 3;
}

.container4 {
  order: 4;
}

.container5 {
  order: 5;
  height: auto;
}

@media (max-width: 1550px) {
  .paymentDetails {
    width: 80%;
    padding: 60px;
  }

  .paymentContainers {
    grid-template-columns: 1.4fr 1fr;
  }
}

@media (max-width: 1280px) {
  .paymentDetails {
    width: 80%;
    padding: 40px;
  }

  .paymentContainers {
    grid-template-columns: 1.4fr 1fr;
    width: 100%;
    max-width: 770px;
  }
}

// @media (max-width: 1024px) {
//   .paymentDetails {
//     width: 95%;
//     max-width: 1200px;
//     padding: 40px 30px;
//     margin: 0 auto;
//   }

//   .paymentContainers {
//     width: 100%;
//     max-width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;
//     box-sizing: border-box;
//     display: grid;
//     grid-template-columns: 1.4fr 1fr;
//     gap: 20px;
//   }
// }

@media (max-width: 992px) {
  .paymentDetails {
    width: 95%;
    max-width: 700px;
    padding: 40px 30px;
    margin: 0 auto;
  }

  .paymentDetailsTitle {
    margin: 20px 0 40px 0;
  }

  .paymentContainers {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .paymentDetails {
    width: 90%;
    max-width: 100%;
    padding: 20px;
    margin: 15px auto;
  }

  .paymentDetailsTitle {
    margin: 20px 0 40px 0;
  }

  .paymentContainers {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .container1 {
    order: 1;
  }

  .container2 {
    order: 2;
  }

  .container3 {
    order: 3;
  }

  .container4 {
    order: 4;
  }

  .container5 {
    order: 5;
  }
}
