.change-password-wrapper {
  display: flex;
  flex-direction: column;

  .form-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;

    input {
      padding: 0.75rem;
      font-size: 1rem;
      border: none;
      border-radius: 2px;
      border-bottom: 1px solid #555;
      color: var(--color-neutral-700);
    }

    input::placeholder {
      color: var(--color-neutral-400);
    }

    input:focus {
      border: 1px solid var(--color-sunset-orange-500);
      outline: none;
    }
  }
}

.password-requirements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    font-size: var(--text-size-sm);
    color: var(--color-neutral-700);
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
  }
  li {
    font-size: var(--text-size-sm);
  }
  .valid {
    color: var(--color-green-700);
  }
  .invalid {
    color: var(--color-red-700);
  }
}

.error-message {
  color: var(--color-red-800);
  font-size: var(--text-size-sm);
}

.change-password-button {
  color: var(--color-neutral-200);
  background-color: var(--color-sunset-orange-500);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
  font-size: var(--text-size-base);
}

.change-password-button:hover {
  background-color: var(--color-sunset-orange-400);
}

.cancel-button {
  background: none;
  border: 1px solid var(--color-neutral-600);
  color: var(--color-neutral-600);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: var(--text-size-base);
  margin-top: 0.5rem;
}

.cancel-button:hover {
  background-color: var(--color-neutral-200);
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex: 1;
    padding-right: 2.5rem;
  }

  .eye-icon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-600);
  }

  .eye-icon:hover {
    color: var(--color-neutral-800);
  }
}
