.page_container {
    display: flex;
    flex-direction: column;
    padding: 50px 80px 20px 70px; 
    transition: all 0.3s ease-in-out;
}

.page_header {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #a45f14;
}

.back_arrow {
    font-size: 24px;
    cursor: pointer;
    color: #a45f14;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.back_arrow:hover {
    color: #8a4d10;
}
