.guestInfoContainer {
  margin-top: 1rem;
  border-radius: 8px;
  min-height: 400px;

  @media (max-width: 768px) {
    min-height: 500px;
  }

  @media (max-width: 480px) {
    min-height: 600px;
  }
}

.sectionTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .row:nth-of-type(2) {
    flex-wrap: wrap;
    gap: 0;
    .field:first-child input {
      width: 60%;
      flex-direction: row;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
}

.sendOtpButton {
  max-width: 350px;
  width: auto;
  max-height: 43px;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 3.74px;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--Light-Sand---Accent, #d9ad7c);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover:not(:disabled) {
    background-color: var(--color-sand-500);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.emailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
  width: 100%;
}

.emailContainer input {
  flex: 1;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    outline: none;
    box-shadow: none;

    &:focus {
      border: 1px solid var(--color-amber-400, #de954a);
    }
  }

  .errorInput {
    border: 1px solid red;
  }
}

.errorText {
  color: red;
  font-style: italic;
  font-size: var(--text-size-xs);
  margin-top: 0.25rem;
}

.checkbox {
  overflow: hidden;
}

.required {
  color: red;
  margin-left: 0.5rem;
}

.checkboxRow {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2.8rem;

  label {
    font-size: 0.9rem;

    a {
      text-decoration: underline;
    }
  }
}
